<div class="header-element-h" ng-mouseenter="model.altDrop = true" ng-mouseleave="model.altDrop = false" ng-init="model.altDrop = false">
	<div class="header-element-h-content">
		Alternative Route
		<i class="fa fa-chevron-circle-up highlight-fa" ng-if="model.altDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-fa" ng-if="!model.altDrop"></i>
	</div>
</div>
<div class="dropdown background" ng-show="model.altDrop" ng-mouseenter="model.altDrop = true" ng-mouseleave="model.altDrop = false">
	Set two markers on the map, choose an alternative route calculation and provide aditional information.
	<div class="seperator"></div>
	<div ng-click="model.interDrop = true; model.altDrop = false" class="cursor-pointer">
		<i class="fa fa-chevron-circle-right highlight-fa"></i> Intermodal Route
	</div>
	<div class="seperator"></div>
	<div ng-click="model.parkingDrop = true; model.altDrop = false" class="cursor-pointer">
		<i class="fa fa-chevron-circle-right highlight-fa"></i> Route to Parking
	</div>
	<div class="seperator"></div>
	<div ng-click="model.simDrop = true; model.altDrop = false" class="cursor-pointer">
		<i class="fa fa-chevron-circle-right highlight-fa"></i> Simulation
	</div>
</div>
<div class="dropdown background" ng-show="model.interDrop" ng-mouseenter="model.interDrop = true" ng-mouseleave="model.interDrop = false" ng-include="'components/header/intermodal.html'"></div>
<div class="dropdown background" ng-show="model.parkingDrop" ng-mouseenter="model.parkingDrop = true" ng-mouseleave="model.parkingDrop = false" ng-include="'components/header/parking.html'"></div>
<div class="dropdown background" ng-show="model.simDrop" ng-mouseenter="model.simDrop = true" ng-mouseleave="model.simDrop = false" ng-include="'components/header/simulation.html'"></div>
