<div class="header-element-h cursor-pointer" ng-click="model.infoDrop = !model.infoDrop" ng-init="model.infoDrop = false">
	<div class="header-element-h-content">
		Information
		<i class="fa fa-chevron-circle-up highlight-fa" ng-if="model.infoDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-fa" ng-if="!model.infoDrop"></i>
	</div>
</div>
<div class="dropdown background" ng-show="model.infoDrop">
	<div>
		<ul class="list">
			<li ng-if="model.map.markers[0]">
				<p><span ng-if="model.map.markers[1]">Route from</span>
					<span ng-if="!model.map.markers[1]">Marker set on</span><br>
					<span ng-repeat="line in model.map.markers[0].formattedAddress">{{ line }}<br /></span></p>
				<p ng-if="model.map.markers[1]">to <br>
					<span ng-repeat="line in model.map.markers[1].formattedAddress">{{ line }}<br /></span></p>
			</li>
			<li ng-if="model.map.routeInfo">
			<div class="seperator"></div>
				<span ng-repeat="(key, value) in model.map.routeInfo">{{ key }}: {{ value }}<br></span>
			</li>
			<li class="information-element route-elements-container" ng-if="model.map.geojson.data.features[0].properties.instructions">
				Route Segments:
				<div ng-repeat="feature in model.map.geojson.data.features">				
					<div class="seperator"></div>
					{{ feature.properties.instructions[0] }} to <br/>{{ feature.properties.instructions[1] }}
				</div>
			</li>
			<li ng-if="model.usedAlgorithm">
			<div class="seperator"></div>
				Algorithm used: {{ model.usedAlgorithm }}<br>
			</li>
		</ul>
	</div>
</div>
