<div class="header-element-h">
	<div class="header-element-h-content">
		Intermodal Route
		<i class="fa fa-chevron-circle-up highlight-fa" ng-if="model.algoDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-fa" ng-if="!model.algoDrop"></i>
	</div>
</div>

<!-- <div ng-mouseenter="model.interDrop = true" ng-mouseleave="model.interDrop = false" ng-init="model.interDrop = false">
	<div ng-click="calculateIntermodal()">
		Calculate Intermodal 
		<i class="fa fa-chevron-circle-up" ng-if="model.interDrop"></i>
		<i class="fa fa-chevron-circle-down" ng-if="!model.interDrop"></i>
	</div>
	<div ng-show="model.interDrop">
		<div>
				<i class="fa fa-clock-o fa-fw"></i>
				<div>
					<i class="fa fa-chevron-up" ng-click="changeDate(0, 1)"></i>
					<input type="text" ng-model="model.date.hours">
					<i class="fa fa-chevron-down" ng-click="changeDate(0, -1)"></i>
				</div>
				<span> :</span>
				<div>
					<i class="fa fa-chevron-up" ng-click="changeDate(1, 1)"></i>
					<input type="text" ng-model="model.date.minutes">
					<i class="fa fa-chevron-down" ng-click="changeDate(1, -1)"></i>
				</div>
				<i class="fa fa-refresh fa-fw" ng-click="updateDate()"></i>
		</div>
		<div>
			<i class="fa fa-calendar fa-fw"></i>
			<div>
				<i class="fa fa-chevron-up" ng-click="changeDate(2, 1)"></i>
				<input type="text" ng-model="model.date.days">
				<i class="fa fa-chevron-down" ng-click="changeDate(2, -1)"></i>
			</div>
			<span>/</span>
			<div>
				<i class="fa fa-chevron-up" ng-click="changeDate(3, 0)"></i>
				<input type="text" ng-model="model.date.months">
				<i class="fa fa-chevron-down" ng-click="changeDate(3, -2)"></i>
			</div>
			<span>/</span>
			<div>
				<i class="fa fa-chevron-up" ng-click="changeDate(4, 1)"></i>
				<input type="text" ng-model="model.date.years">
				<i class="fa fa-chevron-down" ng-click="changeDate(4, -1)"></i>
			</div>
		</div>
	</div>
</div>-->