html, body {
}
.container-fluid {
	padding: 0;
}
.background {
	background-color: #FAFAFA; 
}
.highlight-text {
	color: #68c631;
	font-size: 80%; 
	letter-spacing: 1px;
	text-transform: uppercase;
}
.primary-text {
	color: #262826;
}
.seperator {
	border-top: solid 1px #68c631;
}
.cursor-pointer {
	cursor: pointer;
}
.header-container {
	display: flex;
	height: 12vh;
	max-height: 40px;
	min-height: 25px;
	padding: 0;
}
.header-element {
	flex: 1;
	height: 100%;
}
.header-element-h {
	height: 100%;
	text-align: center;
}
.header-element-h-content {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.map-container {
	min-height: calc(100vh - 40px);
	height: 88vh;
	max-height: calc(100vh - 25px);
}