html, body {
	height: 100%;
}
.container-fluid {
	height: 100%;
	padding: 0;
	color: #fafafa;
}

/***** control-container and everything inside 		*****/

.control-container {
	height: 100%;
	padding: 10px;
	background-color: #262826;
}
.btn {
	width: 100%;
	margin-bottom: 5px;
}

/***** map-container and everything inside 			*****/

.map-container {
	height: 100%;
	padding: 0;
}
#map {
}

/***** information-container and everything inside 	*****/

.information-container {
	height: 100%;
	width: 20vw;
	padding: 20px 0 20px 0;
	position: absolute;
	right: 0;
}
.information-background {
	max-height: 100%;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #262826;
	overflow-y: scroll;
}
.information-background::-webkit-scrollbar {
	width: 4px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.information-background::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ff961e; 
}
.information-content {
	max-height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.information-element {
	padding: 10px;
	border-bottom: solid 1px #ff961e;
}
.information-element:last-child {
	border: none;
}
.route-elements-container {
	list-style-type: none;
}
.route-element {
	margin: 0 10px 0 10px;
	padding-top: 5px;
}
