npm-debug.log
node_modules
medieninformatik-arbeit.aux
medieninformatik-arbeit.log
medieninformatik-arbeit.out
medieninformatik-arbeit.synctex.gz
medieninformatik-arbeit.toc
medieninformatik-arbeit.pdf
medieninformatik-arbeit.synctex.gz(busy)
