<!--<div class="col-md-2">
	<button class="btn button-primary">Recalculate Route</button>
</div>
<div class="col-md-2">
	<button class="btn button-primary">Calculate Intermodal</button>
</div>
<div class="col-md-2">
	<button class="btn button">Remove Route and Markers</button>
</div>

<div class="row">
	<div class="col-md-2 button-expand">
		<button class="btn button-primary" ng-click="calculate()" ng-disabled="map.markers.length <= 1">Recalculate Route</button>
		<form class="algorithm-form">
			<div ng-repeat="(key, algorithm) in algorithms">
				<input type="radio" name="algorithms" ng-model="selected.algorithm" ng-value=algorithm> {{ algorithm }}
			</div>
			<div class="seperator"></div>
			<div ng-repeat="(key, cost) in algorithmCosts">
				<input type="radio" name="costs" ng-model="selected.cost" ng-value=cost> {{ cost }}
			</div>
		</form>
	</div>
	<div class="col-md-2 button-expand">
		<button class="btn button-primary" ng-click="calculateIntermodal()" ng-disabled="map.markers.length <= 1">Calculate Intermodal</button>
		<div class="date-time-picker" ng-include="'components/date_time_picker.html'"></div>
	</div>
	<div class="col-md-2">
		<button class="btn button" ng-click="removeElements()">Remove Route and Markers</button>
	</div>
	<div
		class="col-md-3 information-container"
		ng-show="map.geojson.data || map.markers[0]"
		ng-include="'components/route_information.html'">
	</div>
</div>-->
