<div class="button-expand">
	<button class="btn button-primary" ng-click="calculate()" ng-disabled="markers.length <= 1">Recalculate</button>
	<form class="algorithm-form">
		<div ng-repeat="(key, algorithm) in algorithms">
			<input type="radio" name="algorithms" ng-model="selected.algorithm" ng-value=algorithm> {{ algorithm }}
		</div>
		<div class="seperator"></div>
		<div ng-repeat="(key, cost) in algorithmCosts">
			<input type="radio" name="costs" ng-model="selected.cost" ng-value=cost> {{ cost }}
		</div>
	<form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<adm-dtp ng-model='date'></adm-dtp>
<button class="btn button" ng-click="removeElements()">Remove Route and Markers</button>
