<div class="form-inline time-picker">
	<i class="fa fa-clock-o"></i>
	<input class="date-time-input" type="number" ng-model="date.hour">
	<input class="date-time-input" type="number" ng-model="date.minute">
</div>
<div class="form-inline date-picker">
	<i class="fa fa-calendar"></i>
	<input class="date-time-input" type="number" ng-model="date.day">
	<input class="date-time-input" type="number" ng-model="date.month">
	<input class="date-time-input year-input" type="number" ng-model="date.year">
</div>
