<div class="form-inline time-picker">
	<i class="fa fa-clock-o fa-fw"></i>
	<input class="date-time-input" type="number" ng-model="date.hour">
	<span> :</span>
	<input class="date-time-input" type="number" ng-model="date.minute">
	<i class="fa fa-refresh fa-fw" ng-click="updateTime()"></i>
</div>
<div class="form-inline date-picker">
	<i class="fa fa-calendar fa-fw"></i>
	<input class="date-time-input" type="number" ng-model="date.day">
	<span> .</span>
	<input class="date-time-input" type="number" ng-model="date.month">
	<span> .</span>
	<input class="date-time-input year-input" type="number" ng-model="date.year">
</div>
