<div class="header-element">
	<div class="header-element-h">
		<div class="header-element-h-content highlight-text">Mario-Frontend</div>
	</div>
</div>
<div class="header-element" ng-include="'components/header/poi.html'"></div>
<div class="header-element" ng-include="'components/header/direct.html'"></div>
<div class="header-element" ng-include="'components/header/intermodal.html'"></div>
<div class="header-element">
	<div class="header-element-h cursor-pointer" ng-click="removeElements()">
		<div class="header-element-h-content">Remove Map Elements</div>
	</div>
</div>
<div class="header-element" ng-include="'components/header/information.html'"></div>
