<div class="header-element header-label">
	<div class="header-content highlight-text">Mario-Frontend</div>
</div>
<div 
	class="header-element button cursor-pointer"
	ng-mouseenter="model.algoDrop = true"
	ng-mouseleave="model.algoDrop = false"
	ng-init="model.algoDrop = false">
	<div class="header-content" ng-click="calculate()">
		Recalculate Route 
		<i class="fa fa-chevron-circle-up highlight-text highlight-fa" ng-if="model.algoDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-text highlight-fa" ng-if="!model.algoDrop"></i>
	</div>
	<div class="dropdown background" ng-show="model.algoDrop">
		<div ng-include="'components/algorithm_picker'"></div>
	</div>
</div>
<div 
	class="header-element button cursor-pointer"
	ng-mouseenter="model.interDrop = true" 
	ng-mouseleave="model.interDrop = false" 
	ng-init="model.interDrop = false">
	<div class="header-content" ng-click="calculateIntermodal()">
		Calculate Intermodal 
		<i class="fa fa-chevron-circle-up highlight-text highlight-fa" ng-if="model.interDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-text highlight-fa" ng-if="!model.interDrop"></i>
	</div>
	<div class="dropdown background" ng-show="model.interDrop">
		<div class="date-time-picker" ng-include="'components/date_time_picker.html'"></div>
	</div>
</div>
<div class="header-element button cursor-pointer" ng-click="removeElements()">
	<div class="header-content">Remove Route and Markers</div>
</div>
<div 
	class="header-element button cursor-pointer information-button" 
	ng-click="model.infoDrop = !model.infoDrop" 
	ng-init="model.infoDrop = false">
	<div class="header-content">Route Information 
		<i class="fa fa-chevron-circle-up highlight-text highlight-fa" ng-if="model.infoDrop"></i>
		<i class="fa fa-chevron-circle-down highlight-text highlight-fa" ng-if="!model.infoDrop"></i>
	</div>
	<div class="dropdown background" ng-show="model.infoDrop">
		<div ng-include="'components/route_information.html'"></div>
	</div>
</div>

