<div class="header-element">
	<div class="header-element-h">Mario-Frontend</div>
</div>
<div class="header-element" ng-include="'components/header/poi.html'"></div>
<div class="header-element" ng-include="'components/header/direct.html'"></div>
<div class="header-element" ng-include="'components/header/intermodal.html'"></div>
<div class="header-element" ng-click="removeElements()">
	<div class="header-element-h">Remove Route and Markers</div>
</div>
<div class="header-element" ng-include="'components/header/information.html'"></div>
