<div class="information-background">
	<ul class="information-content">
		<li class="information-element">
			<p>Route from <br>
			{{ route.startEndPoint[0].street }} {{ route.startEndPoint[0].streetNumber }}<br>
			{{ route.startEndPoint[0].postalCode }} {{ route.startEndPoint[0].city }}</p>
			<p>to <br>
			{{ route.startEndPoint[1].street }} {{ route.startEndPoint[1].streetNumber }}<br>
			{{ route.startEndPoint[1].postalCode }} {{ route.startEndPoint[1].city }}</p>
		</li>
		<li class="information-element">
			Distance: <br>
			Travel Time:
		</li>
		<ul class="information-element route-elements-container">
			Route Segments:
			<li class="route-element">first</li>
			<li class="route-element">second</li>
			<li class="route-element">last</li>
		</ul>
		<li class="information-element">
			Algorithm used: <br>
		</li>
	</ul>
</div>