<div class="background">
	<ul class="information-content">
		<li class="information-element" ng-if="map.markers[0]">
			<p class="primary-text">Route from <br>
			{{ map.markers[0].street }} {{ map.markers[0].streetNumber }}<br>
			{{ map.markers[0].postalCode }} {{ map.markers[0].city }}</p>
			<p class="primary-text" ng-if="map.markers[1]">to <br>
			{{ map.markers[1].street }} {{ map.markers[1].streetNumber }}<br>
			{{ map.markers[1].postalCode }} {{ map.markers[1].city }}</p>
		</li>
		<li class="information-element primary-text seperator" ng-if="map.geojson.data.features[0].properties.costs">
			<span ng-repeat="(key, value) in map.geojson.data.features[0].properties.costs">{{ key }}: {{ value }}<br></span>
		</li>
		<!--
		<ul class="information-element route-elements-container">
			Route Segments:
			<li class="route-element">first</li>
			<li class="route-element">second</li>
			<li class="route-element">last</li>
		</ul>
		<div class="seperator"></div>
		-->
		<li class="information-element secondary-text seperator" ng-if="usedAlgorithm">
			Algorithm used: {{ usedAlgorithm }}<br>
		</li>
	</ul>
</div>