<div class="background">
	<ul class="information-content">
		<li class="information-element" ng-if="model.map.markers[0]">
			<p class="primary-text">Route from <br>
				<span ng-repeat="line in model.map.markers[0].formattedAddress">{{ line }}<br /></span></p>
			<p class="primary-text" ng-if="model.map.markers[1]">to <br>
				<span ng-repeat="line in model.map.markers[1].formattedAddress">{{ line }}<br /></span></p>
		</li>
		<li class="information-element primary-text seperator" ng-if="model.map.geojson.data.features[0].properties.costs">
			<span ng-repeat="(key, value) in model.map.geojson.data.features[0].properties.costs">{{ key }}: {{ value }}<br></span>
		</li>
		<!--
		<ul class="information-element route-elements-container">
			Route Segments:
			<li class="route-element">first</li>
			<li class="route-element">second</li>
			<li class="route-element">last</li>
		</ul>
		<div class="seperator"></div>
		-->
		<li class="information-element secondary-text seperator" ng-if="model.usedAlgorithm">
			Algorithm used: {{ model.usedAlgorithm }}<br>
		</li>
	</ul>
</div>